/* 
RELATIVE AND ABSOLUTE POSITION ITEMS 
ON THIS CSS 
*/

/* ---------------------------------------- */
/* Body of Page */

body {
    height: 2000px;
    /* 
    Height of the body is determined here
    so that the user can scroll up the page
    to see just the background image.
    */

    padding: 0;
    margin: 0;
}

/* ---------------------------------------- */
/* Contact Outer Container */

.contactOuterContainer {
    width: 960px;

    padding: 0;
    /* border: 1px solid #a1a1a1; */
    margin: 0;

    background-color: #ffffff;

    position: absolute;
    top: 0px;
    left: 50%;
    /* transform: translate(-480px, 140px); */
    transform: translate(-480px, 99px);
}

/* ---------------------------------------- */
/* Contact Title */

.contactTitle {
    width: 956px;

    padding: 0;
    border: 1px none red;
    margin: 40px 0px 30px 0px;
    /* 
    Change border from none to solid to
    view border
    */

    /* color: silver; */
    /* color: #2953ca; */
    /* color: #a9a9a9; */
    /* color: #c1c1c1; */
    color: #b6b6b6;  
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}

/* ---------------------------------------- */
/* Contact Inner Container 1 */

.contactInnerContainer1 {
    width: 956px;

    padding: 0;
    border: 1px none red;
    margin: 0px 0px 40px 4px;
    /* 
    Change border from none to solid to
    view border
    
    There is a slight optical illusion
    happening on the contactAnchors
    and so a 4px margin has been added
    to the left
    */

    color: black;
    /* font-family: Arial, Helvetica, sans-serif;
    font-weight: 100; */
    font-family: sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
}

/* -------------------- */
/* Contact Anchor Style */

/* Unvisited link */
.contactAnchor:link {
    color: #2953ca;
    text-decoration: underline;
}

/* Visted link */
.contactAnchor:visited {
    color: #2953ca;
    text-decoration: underline;
}

/* Mouse hover link */
.contactAnchor:hover {
    color: #ffcc00;
    text-decoration: underline;
}

/* Selected link */
.contactAnchor:active {
    /* color: red; */
    color: #ffcc00;
    text-decoration: underline;
}

/* ---------------------------------------- */
/* Contact Inner Container 2 */

.contactInnerContainer2 {
    width: 916px;
    
    padding: 0px 0px 60px 0px;
    margin: 0px 20px 0px 20px;

    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 18px;

    background-color: white;
    /* 
    Change background color to see the
    position of contactInnerContainer2
    */
}

/* Contact Form */
input[type=text], textarea {
    width: 894px;
    height: 18px;

    padding: 10px 10px 10px 10px;
    border: 1px solid #a1a1a1;
    margin: 10px 0px 20px 0px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

    resize: vertical;
}

/* Height of the message box */
#writeMessage {
    height: 150px;
}

/* Submit Button */
input[type=submit] {
    padding: 12px 20px;
    border: 0;
    border-radius: 4px;
    margin: 0;

    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    
    background-color: #2953ca;
    
    outline: 0;

    cursor: pointer;
}

/* Hover over Submit Button */
input[type=submit]:hover {
    background-color: #ffcc00;
}

/* Selected Submit Button */
input[type=submit]:active {
    /* background-color: red; */
    background-color: #ffcc00;
}

/* ---------------------------------------- */
/* ---------------------------------------- */
/* MEDIA QUERIES */

/* When Screen Size Max-Width is 980px */
/* (1024px is viewport width of iPad Pro in vertical) */
/* (768px is viewport width of iPad in vertical) */

/* @media screen and (max-width: 980px) { */
@media screen and (max-width: 1030px) {

    .contactOuterContainer {
        width: 700px;

        /* transform: translate(-351px, 110px); */
        transform: translate(-351px, 49px);
    }

    .contactTitle {
        width: 700px;

        margin: 20px 0px 16px 0px;
    
        font-size: 34px;
    }

    .contactInnerContainer1 {
        width: 700px;

        font-size: 16px;
    }

}

/* -------------------- */

/* When Screen Size Max-Width is 750px */
/* (375px is viewport width of iPhone X in vertical) */

@media screen and (max-width: 750px) {

    .contactOuterContainer {
        width: 353px;
            /*
            width should actually be 355px but is set
            to be a little narrower so that it will format
            properly on iPhone Screen
            */
        /* transform: translate(-177.5px, 62px); */
            /* 
            translate should actually be (-187.5px, 65px)
            but is offset by +10px on x-axis and -3px on y-axis
            so that it will format properly on iPhone Screen
            */
        transform: translate(-177.5px, 49px);
    }
    
    .contactTitle {
        width: 355px;

        margin: 20px 0px 16px 0px;
    
        font-size: 17px;
    }

    .contactInnerContainer1 {
        width: 355px;

        font-size: 14px;
        line-height: 2;
    }

    .contactInnerContainer2 {
        width: 335px;

        margin: 0px 10px 0px 10px;
       
        background-color: white;
        /* 
        Change background color to see the
        position of contactInnerContainer2
        */

        font-size: 14px;
    }

    /* Contact Form */
    input[type=text], textarea {
        width: 313px;

        font-size: 14px;
    }
    
    /* Submit Button */
    input[type=submit] {
        padding: 10px 20px;

        font-size: 14px;
    }

}