/* 
RELATIVE AND ABSOLUTE POSITION ITEMS 
ON THIS CSS 
*/

/* ---------------------------------------- */
/* Body of Page */

body {
    height: 6500px;
    /* 
    Height of the body is determined here
    so that the user can scroll up the page
    to see just the background image.
    */

    padding: 0;
    margin: 0;
}

/* ---------------------------------------- */
/* Portfolio Outer Container */

.portfolioOuterContainer {
    width: 960px;

    padding: 0;
    /* border: 1px solid #a1a1a1; */
    margin: 0;

    background-color: #ffffff;
   
    position: absolute;
    top: 0px;
    left: 50%;
    /* transform: translate(-480px, 140px); */
    transform: translate(-480px, 99px);
}

/* ---------------------------------------- */
/* Portfolio Title */

.portfolioTitle {
    width: 956px;

    padding: 0;
    border: 1px none red;
    margin: 40px 0px 30px 0px;
    /* 
    Change border from none to solid to
    view border
    */

    color: #b6b6b6;  
    /* color: #FFAB0A; */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}

/* ---------------------------------------- */
/* Portfolio Inner Container */

.projectButton {
    width: 100%;

    cursor: pointer;
    outline: 0;

    position: relative;
}

.projectImage {
    width: 100%;
    
    border: 1px solid #a1a1a1;
}

.projectDescription {
    padding: 0;
    /* margin: 10px 10px 60px 0px; */
    /* margin: 10px 10px 10px 0px; */
    margin: 10px 10px 0px 0px;

    color: black;
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-weight: 100; */
    font-family: sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-align: left;
    line-height: 1.5;
   
    position: relative;
    top: -8px;
}

.projectTitle {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 24px;
    text-align: left;

    position: relative;
    top: -3px;
}

/* ---------------------------------------- */
/* Project Description Anchor Style */

/* Description Anchor */

/* Unvisited link */
.descriptionAnchor:link {
    color: #2953ca;
    text-decoration: underline;
}

/* Visted link */
.descriptionAnchor:visited {
    color: #2953ca;
    text-decoration: underline;
}

/* Mouse hover link */
.descriptionAnchor:hover {
    color: #ffcc00;
    text-decoration: underline;
}

/* Selected link */
.descriptionAnchor:active {
    /* color: red; */
    color: #ffcc00;
    text-decoration: underline;
}

/* -------------------- */
/* Description Anchor 2 */

/* Unvisited link */
.descriptionAnchor2:link {
    /* color: #de6114; */
    /* color: #f06d1b; */
    color: #2953ca;
    text-decoration: underline;
}

/* Visted link */
.descriptionAnchor2:visited {
    /* color: #de6114; */
    /* color: #f06d1b; */
    color: #2953ca;
    text-decoration: underline;
}

/* Mouse hover link */
.descriptionAnchor2:hover {
    color: #ffcc00;
    text-decoration: underline;
}

/* Selected link */
.descriptionAnchor2:active {
    /* color: red; */
    color: #ffcc00;
    text-decoration: underline;
}

/* -------------------- */
/* Description Anchor 3 */

/* Unvisited link */
.descriptionAnchor3:link {
    color: #15b43a;
    text-decoration: underline;
}

/* Visted link */
.descriptionAnchor3:visited {
    color: #15b43a;
    text-decoration: underline;
}

/* Mouse hover link */
.descriptionAnchor3:hover {
    color: #ffcc00;
    text-decoration: underline;
}

/* Selected link */
.descriptionAnchor3:active {
    /* color: red; */
    color: #ffcc00;
    text-decoration: underline;
}

/* ---------------------------------------- */
/* ---------------------------------------- */
/* MEDIA QUERIES */

/* When Screen Size Max-Width is 980px */
/* (1024px is viewport width of iPad Pro in vertical) */
/* (768px is viewport width of iPad in vertical) */

/* @media screen and (max-width: 980px) { */
@media screen and (max-width: 1030px) {

    .portfolioOuterContainer {
        width: 700px;

        /* transform: translate(-351px, 110px); */
        transform: translate(-351px, 49px);
    }

    .portfolioTitle {
        width: 700px;

        margin: 20px 0px 16px 0px;
    
        font-size: 34px;
    }

}

/* -------------------- */

/* When Screen Size Max-Width is 750px */
/* (375px is viewport width of iPhone X in vertical) */

@media screen and (max-width: 750px) {

    .portfolioOuterContainer {
        width: 353px;
            /*
            width should actually be 355px but is set
            to be a little narrower so that it will format
            properly on iPhone Screen
            */
        /* transform: translate(-177.5px, 62px); */
            /* 
            translate should actually be (-187.5px, 65px)
            but is offset by +10px on x-axis and -3px on y-axis
            so that it will format properly on iPhone Screen
            */
        transform: translate(-177.5px, 49px);
    }
    
    .portfolioTitle {
        width: 355px;

        margin: 20px 0px 16px 0px;
    
        font-size: 17px;
    }
    
    .projectButton {
        width: 100%;
    }
    
    .projectImage {
        width: 100%;
    }

    .projectDescription {
        /* margin: 20px 0px 70px 0px; */      
        /* margin: 20px 0px 25px 0px; */
        margin: 20px 0px 20px 0px;
        margin: 20px 0px 0px 0px;

        font-size: 12px;
        text-align: left;

        position: relative;
        top: 1px;
    }    

    .projectTitle {
        margin: 30px 0px 0px 0px;

        font-size: 16px;
        text-align: center;

        position: relative;
        top: -1px;
    }
    
}